body {
  font-family: monospace;
  line-height: 2em;
}

.brand {
  width: 600px;
  margin: 5rem auto 0 auto;

  > header {
    margin: 2rem 0;
    text-align: center;
  }

  > footer {
    margin-top: 5rem;
    text-align: right;
    color: gray;
  }
}
