// -----------
// BASIC RESET
// -----------

* {
  font: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-size: 16px;
  line-height: 24px;
  font-family: monospace;
}

button, a { cursor: pointer }

.z {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zsa {
  @extend .z;
  justify-content: space-around;
}

// -----------
// DEMO STYLES
// -----------

h1 {
  font-weight: bold;
}

em {
  font-style: italic;
  font-size: 0.75rem;
  color: gray;
}

hr {
  border: none;
  border-bottom: 1px dashed lightgray;
  margin: 2rem 0;
}

.brand {
  width: 400px;
  margin: 10rem auto;
  > header {
    margin: 2rem 0;
    text-align: center;
  }
}

.Home {
  h3 + div {
    margin: 1rem 0;
  }
}

.Counter {
  font-size: 3em;
  text-align: center;
  margin: 2rem 0;
}

.DemoBtn {

  padding: 0 4px;
  border: 2px solid rgba(black, .1);
  background: none;

  &:disabled {
    cursor: default;
  }

  &:hover:not(:disabled) {
    border-color: rgba(black, .6);
    background-color: rgba(black, .6);
    color: white;
  }

}
